{% extends 'base.html' %}
{% load static %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Resources</title>

</head>
<body>
    <h1>Health Resources</h1>

    <ul>
        {% for resource in resources %}
            <li>
                <h2>{{ resource.title }}</h2>
                <p>{{ resource.description }}</p>
                  <p>{{ resource.link }}</p>
            </li>
        {% empty %}
            <li>No health resources available.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
