{% extends 'base.html' %}
{% load static %}


{% block content %}
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<h2>Appointment Detail</h2>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Appointment Details</h5>
        <p class="card-text"><strong>Doctor:</strong> {{ appointment.doctor.name }}</p>
        <p class="card-text"><strong>Patient:</strong> {{ appointment.patient.name }}</p>
        <p class="card-text"><strong>Date and Time:</strong> {{ appointment.date_and_time }}</p>
        <p class="card-text"><strong>Status:</strong> {{ appointment.get_status_display }}</p>
    </div>
</div>
<a href="{% url 'appointment_list' %}" class="btn btn-secondary mt-3">Back to Appointment List</a>
{% endblock %}
