{% extends 'base.html' %}
{% load static %}


{% block content %}
<html>
<head>
    <title>Appointment Schedule</title>
</head>
<body>
    <h1>Appointment Schedule for Dr. {{ doctor.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Appointment Date</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient_name }}</td>
                <td>{{ appointment.appointment_date }}</td>
                <td>{{ appointment.reason }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}