{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>About Medica</h3>
<p>Touching new heights of excellence in healthcare delivery in the east
Medica Hospitals, one of the most reputed and leading healthcare chains in eastern India today,
has built and managed a number of multispecialty and superspecialty healthcare facilities across the region over the past few years.
</p>
<p>
Beginning its journey with Medica North Bengal Clinic (MNBC) in Siliguri in 2008, the Group launched its flagship
Hospital – MedicaSuperspecialty Hospital (MSH) – in Kolkata in 2010. Soon after Medica Cancer Hospital in
Rangapani, Siliguri, fulfilled the dire need of a comprehensive cancer facility in North Bengal, and the trust hospital R.C.
Agarwal Memorial run by Medica in Tinsukia brought quality multispecialty healthcare to Assam.
</p>
<p>
Medica tied-up with the Jain Samaj for Bhagwan Mahavir Medica Superspecialty Hospital, a new venture in Ranchi.
Tata Steel Medica Hospital in Kalinganagar, Odisha, began operations in 2015.
In 2017 Medica stepped into Bihar with a specialized heart care unit,
Medica Heart Institute, Patna, providing comprehensive heart care services in the region.</p>


<h3>What is Medica</h3>
<p>The 400+ bed Kolkata Hospital, located in Mukundapur, off EM Bypass,
    is today one of the most respected and trusted healthcare providers in Eastern India.
    Filling a huge lacuna in tertiary healthcare in the east,
    Medica has kept its promise of delivering quality healthcare using ethical practices in a transparent set up.
    The hospital has revolutionised healthcare delivery in the region through not just technological advancements and
    innovative treatment techniques,
    but also in the area of patient care.</p>

</body>
</html>
{% endblock %}